.container {
    @apply flex w-full bg-primary p-4 pr-10 rounded-xm relative;
    height: 90px;
}

.content {
    @apply ml-3 my-auto;
}

.name {
    @apply text-sm mb-3;
}

.date {
    @apply text-foreground text-xs font-medium w-full;
}

.dateLabel {
    @apply text-secondary;
}

.actionButton {
    @apply absolute text-foreground-muted right-3;
}

.restoreButton {
    composes: actionButton;
    @apply top-3 hover:text-blue-500 btn;
}

.deleteButton {
    composes: actionButton;
    @apply bottom-3 hover:text-danger btn;
}