@import url('/public/fonts/Inter.css');
@import url("/public/fonts/SourceCodePro.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Inter, sans-serif;
    --font-code: "Source Code Pro", monospace;
    color-scheme: dark;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    @apply selection:bg-indigo-600 selection:text-foreground-accent caret-foreground;
}

#root {
    max-width: 100svw;
    max-height: 100svh;
    @apply h-svh w-svw overflow-clip bg-background flex
}

.os-theme-dark,
.os-theme-light {
    --os-size: 7px;
}

.animate-test {
    animation: ping 1s cubic-bezier(0, 0, 0.2, 1);
    animation-iteration-count: 1;
}