.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapper {
    min-width: 420px;
    background: #1a1f37b4;
    box-shadow: 0 0 20px var(--dark300);
    color: var(--light100);
    border-radius: 10px;
    padding: 50px 45px;
}

.wrapper h1 {
    font-size: 36px;
    margin-bottom: 40px;
    text-align: center;
}

.wrapper .inputBox {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.inputBox input {
    font-family: inherit;
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border-radius: 20px;
    padding: 20px 45px 20px 20px;
    transition: 0.3s;
    background: var(--dark-grad);
    color: var(--light200);
    border: 1px solid var(--light300);

}

.inputBox input::placeholder {
    color: var(--light100);
}

.inputBox input:focus {
    box-shadow: 0 0 5px var(--light200);
}

.inputBox .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
}

.wrapper .rememberForgot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.rememberForgot a {
    color: #fff;
    vertical-align: middle;
    text-decoration: none;
}

.rememberForgot a:hover {
    text-decoration: underline;
}

.wrapper button {
    width: 100%;
    height: 45px;
    background: var(--indigo-grad);
    border: none;
    outline: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    color: var(--light100);
    font-weight: 700;
    transition: 150ms;
}

.wrapper button:hover {
    transform: scale(1.03);
}

.wrapper .registerLink {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.registerLink p a {
    color: var(--light100);
    text-decoration: none;
    font-weight: 600;
    margin-left: 7px;
}

.registerLink p a:hover {
    text-decoration: underline;
}
