<component name="DependencyValidationManager">
  <scope name="Web" pattern="file[Steam-Organizer]:SteamOrganizer.Web//*&amp;&amp;!file:SteamOrganizer.Web/yarn.lock&amp;&amp;!file:SteamOrganizer.Web/.eslintrc.cjs&amp;&amp;!file:SteamOrganizer.Web/package.json&amp;&amp;!file:SteamOrganizer.Web/.gitignore" />
</component>